In [18]:
# for CSV, EXCEL, HTML and SQL pkgs needed (lxml, sqlalchemy, html5lib, and BeautifulSoup4) (not installed yet)

In [2]:
import pandas as pd

In [3]:
pwd

'C:\\Users\\ASUS\\Desktop\\source\\AI-DS\\Pandas'

In [6]:
df = pd.read_csv('example')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [7]:
df.to_csv('My_output')

In [9]:

pd.read_csv('My_output')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [11]:
# Note that index gets added, we don't want that
df.to_csv("My_output", index=False)

In [12]:
pd.read_csv('My_output')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [15]:
# EXEL (had to install xlrd)
pd.read_excel('Excel_Sample.xlsx', sheet_name='Sheet1')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [17]:
# need additional stuffs so not working on it now
df.to_excel('Excel_SampleOPfromDF.xlsx', sheet_name='FromDF')

ModuleNotFoundError: No module named 'openpyxl'

In [19]:
# need additional stuffs so not working on it now
data = pd.read_html('https://www.fdic.gov/bank/individual/failed/banklist.html')

ImportError: lxml not found, please install it