In [9]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [3]:
outside = "G1 G1 G1 G2 G2 G2".split()
inside = [1,2,3,1,2,3]
# convert to tuple
hier_index = list(zip(outside,inside))
# take list and convert to multiindex (not that important)
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [4]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [5]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [10]:
df = pd.DataFrame(randn(6,2), hier_index, ['A','B'])

In [11]:
df

             A         B
G1 1 -0.228505 -0.255320
   2  0.095341 -1.184012
   3 -0.465536 -0.927007
G2 1  0.441036  0.586646
   2  0.911699 -1.498662
   3  0.236953 -2.454032

In [12]:
df.loc['G1']

          A         B
1 -0.228505 -0.255320
2  0.095341 -1.184012
3 -0.465536 -0.927007

In [14]:
df.loc['G1'].loc[2]

A    0.095341
B   -1.184012
Name: 2, dtype: float64

In [15]:
df

             A         B
G1 1 -0.228505 -0.255320
   2  0.095341 -1.184012
   3 -0.465536 -0.927007
G2 1  0.441036  0.586646
   2  0.911699 -1.498662
   3  0.236953 -2.454032

In [16]:
# we can name the index too
df.index.names = ['Groups','Num']

In [17]:
df

                   A         B
Groups Num
G1     1   -0.228505 -0.255320
       2    0.095341 -1.184012
       3   -0.465536 -0.927007
G2     1    0.441036  0.586646
       2    0.911699 -1.498662
       3    0.236953 -2.454032

In [22]:
df.loc['G2'].loc[2]['B']

-1.4986615251265667

In [27]:
# Cross section 'xs' (for multi level index) taking some index common in multiple group

In [25]:
df.loc['G1']

            A         B
Num
1   -0.228505 -0.255320
2    0.095341 -1.184012
3   -0.465536 -0.927007

In [26]:
df.xs('G2')

            A         B
Num
1    0.441036  0.586646
2    0.911699 -1.498662
3    0.236953 -2.454032

In [28]:
df.xs(key=1, level='Num')

               A         B
Groups
G1     -0.228505 -0.255320
G2      0.441036  0.586646