In [5]:
# Pandas is open source library built on top of NumPy
# Used for data cleaning and prep

In [6]:
# Note we need NumPy to use Pandas

In [7]:
import numpy as np
import pandas as pd

In [8]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [9]:
print(type(labels))
print(type(my_data))
print(type(arr))
print(type(d))

<class 'list'>
<class 'list'>
<class 'numpy.ndarray'>
<class 'dict'>

In [10]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [11]:
pd.Series(data=my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

In [14]:
# Dictionary can automaticaly put key as index in pd series
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [16]:
# we can keep string as data also
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [18]:
ser1 = pd.Series(data=[1,2,3,4,5],index=['USA','Germany','India','China','Japan'])
ser1

USA        1
Germany    2
India      3
China      4
Japan      5
dtype: int64

In [22]:
ser2 = pd.Series(data=[1,2,14,61,75],index=['USA','Germany','India','Bangladesh','Japan'])
ser2

USA            1
Germany        2
India         14
Bangladesh    61
Japan         75
dtype: int64

In [23]:
ser1['USA']

1

In [24]:
ser2['India']

14

In [25]:
ser2['Bangladesh']

61

In [26]:
ser1

USA        1
Germany    2
India      3
China      4
Japan      5
dtype: int64

In [27]:
ser2

USA            1
Germany        2
India         14
Bangladesh    61
Japan         75
dtype: int64

In [28]:
ser1 + ser2

Bangladesh     NaN
China          NaN
Germany        4.0
India         17.0
Japan         80.0
USA            2.0
dtype: float64