In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [3]:
np.random.seed(101)
data = randn(5,4)
data

array([[ 2.70684984,  0.62813271,  0.90796945,  0.50382575],
       [ 0.65111795, -0.31931804, -0.84807698,  0.60596535],
       [-2.01816824,  0.74012206,  0.52881349, -0.58900053],
       [ 0.18869531, -0.75887206, -0.93323722,  0.95505651],
       [ 0.19079432,  1.97875732,  2.60596728,  0.68350889]])

In [4]:
df = pd.DataFrame(data=data,index=['A','B','C','D','E'],columns=['W','X','Y','Z'])
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [5]:
# Note each of column is a pandas series that share a common index
type(df['X'])

pandas.core.series.Series

In [6]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
# there are two ways to grab column
# 1: [] notation

In [9]:
df['Y']

A    0.907969
B   -0.848077
C    0.528813
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [10]:
# 2 SQL type .

In [11]:
df.Y

A    0.907969
B   -0.848077
C    0.528813
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [12]:
# 1st recomended as '.'' shall be reserved for methods

In [13]:
df[['X','W']]

          X         W
A  0.628133  2.706850
B -0.319318  0.651118
C  0.740122 -2.018168
D -0.758872  0.188695
E  1.978757  0.190794

In [14]:
# We can create new columns

In [15]:
# To add new column
# note that we don't have new
df['new']

KeyError: 'new'

In [16]:
df['new'] = df['W'] + df['X']
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.334983
B  0.651118 -0.319318 -0.848077  0.605965  0.331800
C -2.018168  0.740122  0.528813 -0.589001 -1.278046
D  0.188695 -0.758872 -0.933237  0.955057 -0.570177
E  0.190794  1.978757  2.605967  0.683509  2.169552

In [17]:
# we can delete things as well using drop()

In [18]:
# to delete row
df.drop(labels='D')

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.334983
B  0.651118 -0.319318 -0.848077  0.605965  0.331800
C -2.018168  0.740122  0.528813 -0.589001 -1.278046
E  0.190794  1.978757  2.605967  0.683509  2.169552

In [19]:
# to delete column
df.drop(labels='new', axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [20]:
# Note that it doesn't occur inplace. So, that we might not accidently lose info
# we can pass another arg "inplace = True" to delete it in place

In [21]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.334983
B  0.651118 -0.319318 -0.848077  0.605965  0.331800
C -2.018168  0.740122  0.528813 -0.589001 -1.278046
D  0.188695 -0.758872 -0.933237  0.955057 -0.570177
E  0.190794  1.978757  2.605967  0.683509  2.169552

In [22]:
df.shape

(5, 5)

In [23]:
df.drop(labels='new',axis=1, inplace=True)
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [24]:
df.shape

(5, 4)

In [25]:
# Note there are 5 rows and 4 columns

In [26]:
# Selecting rows
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [27]:
# There are 2 ways to select rows
# 1 Using loc[]

In [28]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [29]:
type(df.loc['B'])

pandas.core.series.Series

In [30]:
# Note that even a row is series in pandas

In [31]:
# 2 method df.iloc[] get row by index as int even if it's labeled as string

In [32]:
#eg
print(df.loc['C'])
print()
print(df.iloc[2])

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [33]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [34]:
df.loc['B', 'Z']

0.6059653494949336

In [35]:
df.loc[['C','D'],['X','Y']]

          X         Y
C  0.740122  0.528813
D -0.758872 -0.933237

In [36]:
## Conditional Selection

In [37]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [38]:
df > 0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [40]:
bool_df = df > 0

In [41]:
type(bool_df)

pandas.core.frame.DataFrame

In [42]:
df[bool_df]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [45]:
# to get only having val i.e, not get NaN
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [44]:
df['W']>0

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool

In [46]:
df[df['W'] > 0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [47]:
# all rows where z < 0

In [52]:
result_df = df[df['Z'] < 0]
result_df

          W         X         Y         Z
C -2.018168  0.740122  0.528813 -0.589001

In [55]:
result_df = df[df['W'] > 0]
result_df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [56]:
result_df['X']

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [59]:
df[df['W'] > 0][['X','Y']]

          X         Y
A  0.628133  0.907969
B -0.319318 -0.848077
D -0.758872 -0.933237
E  1.978757  2.605967

In [60]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [62]:
bool_series = df['W']>0
bool_series

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool

In [64]:
result = df[bool_series]
result

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [66]:
myclos = ['Y','X']

In [68]:
result[myclos]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

In [70]:
# we cant use and in dataframe series
# eg

In [71]:
df[(df['W']>0) and (df['X']<0)]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [75]:
# we need to use ''&' for 'and' and  '|'' for 'or' in series/df
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [73]:
df[(df['W']>0) & (df['X']<0)]

          W         X         Y         Z
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057

In [77]:
# INDEXING: Change Index (Take index as column)

In [78]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [80]:
new_df = df.reset_index()
new_df

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [83]:
new_df['index']

0    A
1    B
2    C
3    D
4    E
Name: index, dtype: object

In [85]:
# Setting the index

In [88]:
# checkout cool way to create list '😎'
newind = 'CG MH HYD JK MP'.split()
newind

['CG', 'MH', 'HYD', 'JK', 'MP']

In [90]:
df['states'] = newind
df

          W         X         Y         Z states
A  2.706850  0.628133  0.907969  0.503826     CG
B  0.651118 -0.319318 -0.848077  0.605965     MH
C -2.018168  0.740122  0.528813 -0.589001    HYD
D  0.188695 -0.758872 -0.933237  0.955057     JK
E  0.190794  1.978757  2.605967  0.683509     MP

In [91]:
# if we want one of the column to act as index use df.det_index()

In [92]:
df.set_index('states')

               W         X         Y         Z
states
CG      2.706850  0.628133  0.907969  0.503826
MH      0.651118 -0.319318 -0.848077  0.605965
HYD    -2.018168  0.740122  0.528813 -0.589001
JK      0.188695 -0.758872 -0.933237  0.955057
MP      0.190794  1.978757  2.605967  0.683509

In [97]:
df['X']

A    0.628133
B   -0.319318
C    0.740122
D   -0.758872
E    1.978757
Name: X, dtype: float64